<%- include("./partials/header"); -%>
  
  <%- include("./partials/navbar"); -%>
  <main class="grid grid-cols-5 gap-5" id="home-page">
    <div class="col-start-1 col-end-2">
      <!-- Name and profile picture section  -->
      <section id="user-picture" class=" flex flex-col items-center">
        <img src="./images/Resume Photo.jpg" alt="image could not be loaded" class="rounded-full h-60 w-60 ">
        <h1 class="mt-5 text-white">Eshaan Bahuguna</h1>
      </section>
      
      <!-- Description and Hobbies section  -->
      <section class="card mt-6 text-white">
        <div id="about-me" class= "divide-y-2 px-2">
          <div>
            <h3 class="text-center">About Me</h3>
            <p class="mt-4 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nulla sint facere vel laboriosam doloremque, architecto fugiat odio quibusdam laudantium ea amet, maiores voluptate voluptates assumenda obcaecati voluptatibus beatae natus!</p>
          </div>
          <div class="mt-3">
            <!-- hobbies -->
            <h3 class="mt-3 text-center">Hobbies</h3>
            <ul class="mt-2 grid grid-cols-2 text-center">
              <li class="p-2"><i class="fas fa-angle-right mr-1"></i>Dancing</li>
              <li class="p-2"><i class="fas fa-angle-right mr-1"></i>Swimming</li>
              <li class="p-2"><i class="fas fa-angle-right mr-1"></i>Calisthenics</li>
              <li class="p-2"><i class="fas fa-angle-right mr-1"></i>Gaming</li>
            </ul>
          </div>
        </div>
      </section>
    </div>

    <div class="col-start-2 col-end-5">
      <!-- Section to make Posts -->
      <section id="make-post" class="px-20">
        <div class="card">
          <form action="" method="post" class="divide-y mt-3 mb-0">
            <div class="pl-2 pt-2">
              <input type="text" name="title" id="title" placeholder="Title" class="mb-2 pl-1" style="width: 100%; background-color: #2a2a2a">
              <textarea name="body" id="body" placeholder="Write a description..." style="width: 100%; min-height: 6.2rem; resize: none; background-color: #2a2a2a" class="pl-1"></textarea>
              <input type="hidden" name="userName" value="Eshaan Bahuguna">
            </div>
            <div class="p-2 pl-0">
              <button type="submit" class="primary-button">Post</button>
            </div>
          </form>
        </div>
      </section>
  
      <!-- Section where Posts of other Users are displayed -->
      <section id="posts" class="col-start-2 col-end-5 px-20 mt-6">
        <div>
          <h3 class="pl-2 text-white">Posts</h3>
          <div class="card p-3 mt-3">
            <p class="text-xs">posted by <span class="hover:underline cursor-pointer text-violet-400">Deakensuke</span></p>
            <p class="post-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore eveniet facilis sequi alias consequuntur praesentium exercitationem quasi libero necessitatibus reiciendis?</p>
            <p class="post-body mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nam doloribus quia necessitatibus voluptatum qui enim, dicta porro soluta placeat voluptas nemo omnis numquam quidem nesciunt possimus. Neque, nulla provident?</p>
            <ul class="flex flex-row mt-2 text-base">
              <li class="mr-3 hover:text-violet-400 cursor-pointer"><i class="fas fa-heart"></i><span class="ml-1">100K+</span</li>
              <li class="hover:text-violet-400 cursor-pointer"><i class="far fa-comment-alt"></i><span class="ml-1">127</span></li>
            </ul>
          </div>
          <div class="card p-3 mt-3">
            <p class="text-xs">posted by <span class="hover:underline cursor-pointer text-violet-400">Cupcake</span></p>
            <p class="post-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore eveniet facilis sequi alias consequuntur praesentium exercitationem quasi libero necessitatibus reiciendis?</p>
            <p class="post-body mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nam doloribus quia necessitatibus voluptatum qui enim, dicta porro soluta placeat voluptas nemo omnis numquam quidem nesciunt possimus. Neque, nulla provident?</p>
            <ul class="flex flex-row mt-2 text-base">
              <li class="mr-3 hover:text-violet-400 cursor-pointer"><i class="fas fa-heart"></i><span class="ml-1">500</span</li>
              <li class="hover:text-violet-400 cursor-pointer"><i class="far fa-comment-alt"></i><span class="ml-1">70</span></li>
            </ul>
          </div>
          <div class="card p-3 mt-3">
            <p class="text-xs">posted by <span class="hover:underline cursor-pointer text-violet-400">PrincessXyu</span></p>
            <p class="post-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore eveniet facilis sequi alias consequuntur praesentium exercitationem quasi libero necessitatibus reiciendis?</p>
            <p class="post-body mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nam doloribus quia necessitatibus voluptatum qui enim, dicta porro soluta placeat voluptas nemo omnis numquam quidem nesciunt possimus. Neque, nulla provident?</p>
            <ul class="flex flex-row mt-2 text-base">
              <li class="mr-3 hover:text-violet-400 cursor-pointer"><i class="fas fa-heart hover:text-violet-400"></i><span class="ml-1">113</span</li>
              <li class="hover:text-violet-400 cursor-pointer"><i class="far fa-comment-alt"></i><span class="ml-1">5</span></li>
            </ul>
          </div>
        </div>
      </section>
    </div>

    <div class="col-start-5 col-end-6">
      <!-- Skills section -->
      <section id="skills" class=" card">
        <h3 class="mb-3 text-center">Skills</h3>
        <div class="mb-3">
        <p class="font-bold mb-2">HTML/CSS</p>
          <div class="bg-slate-700 h-3 rounded">
            <div style="width: 100%; height: 100%" class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 rounded"></div>
          </div>
        </div>
        <div class="mb-3">
        <p class="font-bold mb-2">Javascript</p>
          <div class="bg-slate-700 h-3 rounded">
            <div style="width: 85%; height: 100%" class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500  rounded"></div>
          </div>
        </div>
        <div class="mb-3">
        <p class="font-bold mb-2">MongoDB</p>
          <div class="bg-slate-700 h-3 rounded">
            <div style="width: 75%; height: 100%" class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 rounded"></div>
          </div>
        </div>
        <div class="mb-3">
        <p class="font-bold mb-2">Node.js + Mongoose</p>
          <div class="bg-slate-700 h-3 rounded">
            <div style="width: 80%; height: 100%" class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 rounded"></div>
          </div>
        </div>
        <div class="mb-3">
        <p class="font-bold mb-2">C++</p>
          <div class="bg-slate-700 h-3 rounded">
            <div style="width: 95%; height: 100%" class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 rounded"></div>
          </div>
        </div>
        <div>
      </section>
  
      <!-- Events section -->
      <section id="events" class="card mt-6 text-white">
        <h3 class="text-center mb-3">Events</h3>
        <div class="mb-2">
          <p class="font-semibold">5th Feb:</p>
          <p>Programming in Java Exam</p>
        </div>
        <div class="mb-2">
          <p class="font-semibold">7th Feb:</p>
          <p>PLA Exam</p>
        </div>
        <div class="mb-2">
          <p class="font-semibold">10th Feb:</p>
          <p>Web Security Exam</p>
        </div>
        <div class="mb-2">
          <p class="font-semibold">11th Feb:</p>
          <p>Cloud Security Exam</p>
        </div>
        <div class="mb-2">
          <p class="font-semibold">11th Feb:</p>
          <p>Applied Linear Algebra Exam</p>
        </div>
        <div>
          <p class="font-semibold">13th Feb:</p>
          <p>Advanced Cyber Security Nascomm Exam</p>
        </div>
      </section>
    </div>
  </main>
<%- include("./partials/footer"); -%>