<%- include("./partials/header"); -%>
  <!-- Login page -->
  <main class="card mx-auto max-w-lg">
    <form action="" method="post" class="flex-col justify-center items-center" style="width:100%">
      <div>
        <label for="user-email">Email</label>
        <input type="email" id="user-email">
      </div>
      <div>
        <label for="user-password">Password</label>
        <input type="password" id="user-password">
      </div>
      <input type="submit" value="Log-In" class="primary-button">
      <a href="">Forgot Password?</a>
    </form>
  </main>

<%- include("./partials/footer"); -%>