<%- include("./partials/header"); -%>
    <%- include("./partials/navbar"); -%>

    <section id="materials-page" class="grid grid-cols-5 gap-10 mx-auto max-w-5xl mt-20 mb-80">
        <!-- Content displayed dynamically -->
    </section>

    <script>
        getMaterials();
        function getMaterials(){
            fetch('/getMaterials')
            .then(response => response.json())
            .then((materials)=>{
                const materialsSection = document.querySelector('#materials-page');

                materials.forEach((material)=>{
                    materialsSection.innerHTML += `
                    <div class="card inline-block text-center" ><p class="mb-3">${material}</p><a class="hover:text-violet-500 cursor-pointer"><i class="download-button fas fa-file-download fa-2x"></i></a></div>
                    `;
                })

                // Event delegation for download button
                materialsSection.addEventListener('click', (event)=>{
                    if(event.target.className.indexOf('download-button') !== -1){
                        console.log('download button was clicked!');

                        window.open(`/getMaterials/${event.target.parentElement.parentElement.children[0].innerText}`);
                    }
                })
            })
        }
    </script>
    <script src="/page links.js"></script>
<%- include("./partials/footer"); -%>