<%- include("./partials/header"); -%>
    <%- include("./partials/navbar"); -%>

    <section id="materials-page" class="grid grid-cols-5 gap-10 mx-auto max-w-5xl mt-20 mb-80">
        <div class="card inline-block text-center" ><p class="mb-3">Embedded System</p><a href="/public/materials/Embedded System/Lec 1 - Module 1.pdf" download="Embedded System" class="hover:text-violet-500"><i class="fas fa-file-download fa-2x"></i></a></div>
        <div class="card inline-block text-center"><p class="mb-3">Software Testing</p><a href="/public/materials/SOFTWARE TESTING.zip" download="Software Testing" class="hover:text-violet-500"><i class="fas fa-file-download fa-2x"></i></a></div>
        <div class="card inline-block text-center"><p class="mb-3">SPM</p><a href="/public/materials/SPM.zip" download="SPM" class="hover:text-violet-500"><i class="fas fa-file-download fa-2x"></i></a></div>
        <div class="card inline-block text-center"><p class="mb-3">Soft Skills</p><a href="/public/materials/Soft Skills.zip" download="Soft Skills" class="hover:text-violet-500"><i class="fas fa-file-download fa-2x"></i></a></div>
        <div class="card inline-block text-center"><p class="mb-3">Operating System</p><a href="/public/materials/Operating System.zip" download="Operating System" class="hover:text-violet-500"><i class="fas fa-file-download fa-2x"></i></a></div>
    </section>

<%- include("./partials/footer"); -%>