<%- include("./partials/header"); -%>
    <%- include("./partials/navbar"); -%>

    <section class="max-w-7xl mx-auto flex flex-row flex-wrap my-16" id="all-user-posts">
        <!-- <div class="card p-3 mt-5 ml-4">
            <div class="flex flex-row justify-end">
                <button class="delete-contact-card" value="${contact._id}"><i class="fas fa-trash-alt hover:text-violet-500 ml-5 hover:cursor-pointer"></i></button>
            </div>
            <p class="post-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore eveniet facilis sequi alias consequuntur praesentium exercitationem quasi libero necessitatibus reiciendis?</p>
            <p class="post-body mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nam doloribus quia necessitatibus voluptatum qui enim, dicta porro soluta placeat voluptas nemo omnis numquam quidem nesciunt possimus. Neque, nulla provident?</p>
            <ul class="flex flex-row mt-2 text-base">
              <li class="mr-3 hover:text-violet-400 cursor-pointer"><i class="fas fa-heart"></i><span class="ml-1">9K+</span</li>
              <li class="hover:text-violet-400 cursor-pointer"><i class="far fa-comment-alt"></i><span class="ml-1">50</span></li>
            </ul>
        </div> -->
       
    </section>
    <script src="/posts.js"></script>
<%- include("./partials/footer"); -%>

